/* General Elements*/

body {
	margin: 0;
	padding: 0;
}

button {
	font-family: 'Roboto Slab', sans-serif;
}

/* Text Elements */

#top_level {
	text-align: center;
	color: #FFFFFF;
	
	position: center;
}

#header {
    font-family: 'Open Sans', sans-serif;
	font-size: 138%;
	background-color: #03A1BC;
	
	padding: 1px;
	margin: 0;
}

#rules_interface {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 100%;
	background-color: #CC2936;
	
	padding: 1px;
	margin: 0;
}


	/* Game Elements */
	
#game_interface {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: #404040;
}

#container {
	background: #202020;
	
	width: 100%;
	top: 175px;
	bottom: 0;
	position: absolute;
}

#box {
	background: #FFFFFF;
	border-radius: 50%;
	
	width: 50px;
	height: 50px;
	position: absolute;
}

#iris {
	border-radius: 50%;
	background: #FF000000;

	width: 30px;
	height: 30px;
	position: absolute;
}

#pupil {
	background: #000000;	
	border-radius: 50%;
	
	width: 15px;
	height: 15px;
	position: absolute;
}

#coin {
	background: #FFFF4a;
	border-radius: 50%;

	width: 20px;
	height: 20px;
	position: absolute;
}

#coin2 {
	background: #FFFF4a;
	border-radius: 50%;
	
	width: 20px;
	height: 20px;
	position: absolute;
}

#powerup {
	border-radius: 25%;
	
	width: 20px;
	height: 20px;
	position: absolute;
}

#score_block {
	font-size: 150px;
	display: inline-block;
	
	line-height: 75px;
	height: 200px;
}

#gameover {
	font-size: 120px;
	display: inline-block;
	
	line-height: 100px;
    height: 200px;
}
