/* General Head and Body Elements (to be removed)*/

body {
	background-color: #CC2936;
	font-family: 'Roboto Slab', serif;
	color: white;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/* Text Elements */
#headSection {
    background-color: #03A1BC;
		padding: 1px;
		position: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 138%;
		color: white;
		text-align: center;
	}

#rulesSection {
	font-family: 'Roboto Slab', sans-serif;
	color: white;

	padding: 0px;
	position: center;
	margin: 0px;
}

button {
	font-family: 'Roboto Slab', sans-serif;
}
	

#scoreSection {
	font-family: 'Roboto Slab', serif;
	font-size: 150px;
	color: #404040;
		
	display: inline-block;
	line-height: 75px;
	height: 200px;
	text-align: center;
}

	/* Game Elements */
#container {
	background: #202020;
	width: 100%;
	bottom: 0px;
	top: 175px;
	position: absolute;
}

	#box {
	width: 50px;
	height: 50px;
	background: white;
	position: absolute;
	border-radius: 50%;
}

#iris {
	width: 30px;
	height: 30px;
	background: turquoise;
	position: absolute;
	border-radius: 50%;
}

#pupil {
	width: 15px;
	height: 15px;
	background: black;
	position: absolute;
	border-radius: 50%;
}

#coin {
	width: 20px;
	height: 20px;
	background: #ffff4a;
	position: absolute;
	border-radius: 50%;
}

#coin2 {
	width: 20px;
	height: 20px;
	background: #ffff4a;
	position: absolute;
	border-radius: 50%;
}

#powerup {
	width: 20px;
	height: 20px;
	background: #58f01a;
	position: absolute;
	border-radius: 25%;
}

#gameover {
	font-size: 100px;
	color: #03A1BC;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	
	line-height: 100px;
    height: 200px;
    text-align: center;
}
